@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

/* BEGIN abstract */
div.abstract {
  margin: 0 0 1em 0; 
  display: block;

  padding: 8px;
  background: none;
  border: 1px solid #666666;
  border-radius: 4px;

  color: #666666;
  font-size: 1.15rem;
  line-height: 1.75;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}

div.abstract > p:last-child {
  margin-bottom: 0;
}
/* END abstract */

/* BEGIN Examples */
.informalexample, .example > .example-contents { border-style: solid; border-width: 1px; border-color: #e6e6e6; margin-bottom: 1.33333em; padding: 1.33333em; background: white; -webkit-border-radius: 3px; border-radius: 3px; }
.informalexample > :first-child, .example > .example-contents > :first-child { margin-top: 0; }
.informalexample > :last-child, .example > .example-contents > :last-child { margin-bottom: 0; }
.example > .example-title { line-height: 1.4; color: #777777; font-weight: 300; margin-top: 0.2em; margin-bottom: 0.5em; }
/* END Examples */